# Data Science Tools and Ecosystem

**Ex3.** In this notebook, I will summarize Data Science Tools and Ecosystems.

**Ex4.** *Some of the popular languages that Data Scientists use are:*

1. Python
2. R
3. SQL

**Ex5.** *Some of the commonly used libraries used by Data Scientists include:*
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

**Ex6.** *Creating a markdown cell with a table of data science tools.*
| Data Science Tools |
|--------------------|
| Jupyter Notebook    |
| RStudio             |
| Apache Zeppelin     |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [7]:
##Ex8. This a simple arithmetic expression to multiply then add integers
result = (3*4)+5
print(result)
print(result==17)

17
True

In [8]:
#Ex8. This will convert 200 minutes to hours by dividing by 60
result = 200 / 60
print(result)

3.3333333333333335

**Ex5. Objectives:**
- Categories of Data Science Tools
- Open Source Tools
- Commercial Tools for Data Science
- Languages of Data Science

## Author
Dona Erika Moesha Hettiaratchy